@tailwind base;

@tailwind components;

@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F4F8FB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#dashboard-inner-container {
  margin-left: 480px;
}


#message-recieved {
  background: #E3EAF2;
  float: left;
}

#message-sent {
  background: #7754F8;
  float: right;
  color: white;
}